

@import url('http://fonts.cdnfonts.com/css/apple-garamond');
@import url("https://use.typekit.net/tal0bui.css");


.sfp-nav {
  font-family: 'Apple Garamond', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


flex-direction:column;
  border-bottom: 1px solid #FFF;
  transition: all 0.6s ease;
  overflow: hidden;
  z-index: 8;
  background-color: #003552;
}

.sfp-nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
}

.sfp-logo{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    min-width: 80px;

    border-right: 1px solid #FFF;
    height:100px;
    
}

.sfp-logo img{
  max-width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.sfp-menu-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 14%;
    height: 100%;
    border-right: 1px solid #FFF;
}
.sfp-menu-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33px;
}


/* hamburger menu goes here */





.sub-menu{
    display:none;
}

.sub-menu.open{
    display:flex;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    width:100%;
 
    

}

.menu-item{
    
    border-right: 1px solid #FFF;
    color:#fff;
    flex: 1;
    justify-content: center;
   display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

  


.menu-link{
  color:white;
  font-size:clamp(14px, 3.5vw, 24px);
  text-decoration: none;
  

}

.menu-link:hover{
  color:black;
}


.bar {

  
    width: 100%;

    max-height:35px;
  
    background-color:#003552;
    color: white;
  
    font-family: orpheuspro, serif;

font-weight: 400;

font-style: italic;
    font-size: 23px;
  }
  
  .bar_content {
    display: block; /* Important to give the content a width */
  
    width: 100%;
    transform: translateX(100%); /* Animation start out of the screen */
  
    /* Add the animation */
    animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
  }
  
  /* Create the animation */
  @keyframes move {
    to { transform: translateX(-100%); }
  }
