@import url('https://use.typekit.net/tal0bui.css');

@font-face {
  font-family: 'apple_garamondregular';
  src: url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.woff2')
      format('woff2'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.woff')
      format('woff'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.eot')
      format('embedded-opentype'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.svg')
      format('svg'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding-top: 130px;
}
.hero {
  height: 100%;
  margin: 0;
}
.sfp-nav {
  font-family: 'apple_garamondregular', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  transition: all 0.6s ease;
  overflow: hidden;
  z-index: 8;
  background-color: #003552;
}

header {
  display: flex;
  position: relative;
  width: 100vw;
  background: black;
  overflow: hidden;
}

header img {
  width: 100%;

  opacity: 0.4;
}

.hero-text {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'apple_garamondregular', sans-serif;
  font-size: clamp(15px, 5vw, 80px);
  width: 100%;
}

.hero-text h1 {
  text-align: center;
  width: 100%;
}

.hero-2 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #003552;
}

.hero-2 img {
  width: 90%;
  overflow: hidden;
  border-right: 3px solid #fff;
}

.hero2-text {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  color: #fff;
}

.cursive-md {
  margin: 0 auto;
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-sm {
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sfp-nav-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.sfp-logo {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  min-width: 80px;

  border-right: 1px solid #fff;
  height: 100px;
}

.sfp-logo img {
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.sfp-logo-link {
  text-align: center;
}

.sfp-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 14%;
  height: 100%;
  border-right: 1px solid #fff;
}
.sfp-menu-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33px;
}

/* hamburger menu goes here */

.sub-menu {
  display: none;
}

.sub-menu.open {
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.menu-item {
  border-right: 1px solid #fff;
  color: #fff;
  flex: 1;
  justify-content: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-link {
  color: white;
  font-size: clamp(14px, 3.5vw, 24px);
  text-decoration: none;
}

.menu-link:hover {
  color: black;
}

/* hamburger menu */

.hamburger {
  display: block;
  width: 40px; /* less width = square hamburger */
  height: 60px;
  position: relative;
  cursor: pointer;
}

/* each line of menu */
.line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: 0.5s;
}

.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 24px;
}
.line:nth-child(3) {
  top: 36px;
}

/* rotate the top and bottom line, and remove the middle line */
.hamburger.open .line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* side-scroll animation for text */

.m-scroll {
  overflow: hidden;
  height: 100%;
  /* white-space: nowrap will keey the text from wrapping */
  white-space: nowrap;
  animation: scrollText 20s infinite linear;
  /* infinte keyword to let animation run infinitely */
  margin: 0;
  font-size: 0;
  display: inline-block;
}

span {
  /* display: inline-block so all the span elements stay on the same line */
  display: inline-block;
  margin: 0;
  padding: 0;
  max-height: 35px;
  background-color: #003552;
  color: white;
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 23px;
}

/* transformX from 0 - 25%, this will move the text horizontally  */

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(25%);
  }
}

/* side scrolling bar */

.bar {
  width: 100%;

  max-height: 35px;

  background-color: #003552;
  color: white;

  font-family: orpheuspro, serif;

  font-weight: 400;

  font-style: italic;
  font-size: 23px;
  display: inline-block;
}

.bar_content {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  /* Animation start out of the screen */
  transform: translateX(100%);
  /* Add the animation */
  animation: move 1s linear infinite
    /* infinite make repeat the animation indefinitely */;
}
.bar_content p {
  margin: 0;
  padding-right: 20px;
}

/* Create the animation */
@keyframes move {
  to {
    transform: translateX(-50%);
  }
}

.hero-text-container {
  display: flex;
  justify-content: center;
  max-width: 60%;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.newsletter {
  border-top: 3px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #654321;
  text-align: center;
  padding: 50px;
}

.newsletter-text {
  flex: 1;
}

.newsletter-text p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 3.5vw, 24px);
}

.newsletter-text input {
  padding: 10px;
  width: 80%;
  text-align: left;
  border-radius: 25px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}

::placeholder {
  color: lightgrey;
}

textarea:focus,
input:focus {
  outline: none;
}

.stories-container {
  background-color: #1a321c;
  display: flex;
  flex-direction: column;
}

.stories-title-container {
  display: flex;
  flex-direction: row;
  border: 2px solid #fcf7d3;
}

.stories-title {
  color: #fcf7d3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2.5vw, 20px);
  text-align: left;
  padding: 20px;
  border-right: 2px solid beige;
  width: 45%;
}

.story-container {
  border-right: 2px solid beige;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid beige;
}
.stories-heading {
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2.5vw, 20px);
  text-align: left;
  width: 70%;
  padding: 40px;
}

.story-cover {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 2px solid beige;
}

.story-title {
  color: #fcf7d3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2.5vw, 20px);
  text-align: left;
  padding: 20px;
  border-right: 2px solid beige;
  width: 50%;
}

.story-text {
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2.5vw, 20px);
  text-align: left;
  width: 70%;
  padding: 40px;
}

.story-cover p {
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2.5vw, 20px);
  text-align: left;
  padding: 20px;
}

.services-container {
  display: flex;
  flex-direction: row;

  background-color: #654321;
}

.services-img {
  width: 30%;
}

.services-img img {
  width: 100%;
}

.services-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #654321;
  padding-bottom: 5%;
  border: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.services-text h1 {
  font-family: 'apple_garamondregular', sans-serif;
  font-size: clamp(1rem, 3.5vw, 2rem);
  padding: 18px;
  padding-bottom: 0;
  color: #fff;
  margin-bottom: 0;
}

.services-text p {
  font-family: orpheuspro, serif;
  font-size: clamp(1rem, 2.4vw, 2.5rem);
  color: #fff;
}

hr {
  margin-left: 4%;
  width: 60%;
  height: 3px;
  background: #fff;
  border: none;
  display: inline-block;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .newsletter {
    flex-direction: column;
  }

  .newsletter-text {
    width: 60%;
  }

  .newsletter-text input {
    width: 100%;
  }
  .hero-2 {
    flex-direction: column;
    text-align: center;
  }

  .hero-2 img {
    width: 100%;
  }

  .hero2-text {
    max-width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .services-container {
    flex-direction: column-reverse;
  }

  .services-text {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
  }

  .services-img {
    width: 100%;
  }
}
