@import url('https://use.typekit.net/tal0bui.css');

@font-face {
  font-family: 'apple_garamondregular';
  src: url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.woff2')
      format('woff2'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.woff')
      format('woff'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.eot')
      format('embedded-opentype'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.svg')
      format('svg'),
    url('https://dvodr9ecx1wan.cloudfront.net/a6f12191d6abbba09d3ed0fd81b128bb.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding-top: 130px;
}
.sfp-nav {
  font-family: 'apple_garamondregular', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  transition: all 0.6s ease;
  overflow: hidden;
  z-index: 8;
  background-color: #003552;
}

header {
  display: flex;
  position: relative;
  width: 100vw;
  background: black;
  overflow: hidden;
}

header img {
  width: 100%;
  opacity: 0.4;
}

.hero-text {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'apple_garamondregular', sans-serif;
  font-size: clamp(15px, 5vw, 80px);
  width: 100%;
}

.hero-text h1 {
  text-align: center;
  width: 100%;
}

.hero-2 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #003552;
}

.hero-2 img {
  width: 80%;
  overflow: hidden;
}

.hero2-text {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  color: #fff;
}

.cursive-md {
  margin: 0 auto;
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  font-size: clamp(2rem, 3vw, 2.5rem);
  padding: 10px;
}

.text-sm {
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.sfp-nav-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.sfp-logo {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  min-width: 80px;

  border-right: 1px solid #fff;
  height: 100px;
}

.sfp-logo img {
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.sfp-logo-link {
  text-align: center;
}

.sfp-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 14%;
  height: 100%;
  border-right: 1px solid #fff;
}
.sfp-menu-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33px;
}

/* hamburger menu goes here */

.sub-menu {
  display: none;
}

.sub-menu.open {
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.menu-item {
  border-right: 1px solid #fff;
  color: #fff;
  flex: 1;
  justify-content: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-link {
  color: white;
  font-size: clamp(14px, 3.5vw, 24px);
  text-decoration: none;
}

.menu-link:hover {
  color: black;
}

/* hamburger menu */

.hamburger {
  display: block;
  width: 40px; /* less width = square hamburger */
  height: 60px;
  position: relative;
  cursor: pointer;
}

/* each line of menu */
.line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: 0.5s;
}

.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 24px;
}
.line:nth-child(3) {
  top: 36px;
}

/* rotate the top and bottom line, and remove the middle line */
.hamburger.open .line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* side scrolling bar */

.bar {
  width: 100%;

  max-height: 35px;

  background-color: #003552;
  color: white;

  font-family: orpheuspro, serif;

  font-weight: 400;

  font-style: italic;
  font-size: 23px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite
    /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

.hero-text-container {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

@media only screen and (max-width: 767px) {
  .hero-2 {
    flex-direction: column;
    text-align: center;
  }

  .hero-2 img {
    width: 100%;
  }

  .hero2-text {
    max-width: 100%;
  }
  body {
    padding-bottom: 20px;
    background-color: #003552;
  }
}
